
body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.hd-container {
  width: 88%;
  margin: auto;
  height: 75px;
}

.container {
  width: 90%;
  margin: auto;
  background-color: #F6FFF8;
  margin-top: 15px;
  border-radius:5px;
  box-shadow: 1px 1px 10px -1px rgba(25, 50, 151, 0.5);
  margin-bottom: 20px;
}

.header {
  margin-top: 0;
  box-shadow: 1px 1px 20px -4px rgba(25, 50, 151, 0.75);
}

.header-img {
  width: 5%;

}

.hd-container img {
  width: 35px;
  margin: 20px 5px 0 0;
  border-radius: 50%;
  float: right;
}

.header li a {
  display: inline-block;
  margin: 15px;
  font-size: 16px;
}

.header a:hover {
  text-decoration: none;
  color: #003566;
}
.branding {
  padding-top: 2px;
  color: #FFB700;
  width: 15%;
  float: left;
  margin-right: 45px;
}

.brand-h2 {
  padding: 0 0 5px 5px;
  border-radius: 5px;
  text-align: center;
  background-color: #4CC9F0;
}

.navbar-nav {
  width: 55%;
  float: left;
  margin: 0 5px 0 200px;
  height: 50px;
}

.nav-elements li {
  padding-top: 10px;
  display: inline-block;
}

.navbar-nav ul li a{
  height: 15px;
  font-size: 16px;
  margin-right: 15px;
  letter-spacing: 3px;
}

.paragraf1 {
  margin-top: 15px;
  min-height: 475px;
  float: right;
  width: 50%;
}
.current a{
  color: #3D348B;
  font-weight: bold;
}

.aside {
  background-color: #819595;
  padding: 10px;
  width: 50%;
  color: #FF9;
  border-radius: 10px;
  margin: 10px 10px 50px 10px;
  float: right;
}

.aside:hover {
  box-shadow: 1px 1px 20px -4px rgba(25, 0, 15, 0.75);
}

.contact-col {
  float: left;
  border-radius: 5px;
  width: 38%;
}

.hobby-par {
  margin-top: 15px;
  min-height: 475px;
  float: left;
  width: 50%;
  border-radius: 5px;
  box-shadow: 1px 1px 14px -4px rgba(110, 45, 205, 0.2);
  margin: 15px 0 10px 5px;
  font-size: 16px;
}

.hobby-par p {
  padding: 10px;
  color: #023047;
}

.hobby-images {
  margin: 10px;
}

.head-h3 {
  padding: 0 10px;
  font-family: fantasy;
  color: #03045E;
  font-size: 35px;
}

.profile-pic img {
  width: 155px;
  margin: 15px;
  float: left;
}

.star-emoji {
  font-size: 20px;
  color: yellow;
}

footer {
  height: 55px;
  background: #a8dadc;
}

footer p {
  color: #006D77;
  font-family: sans-serif;
  padding-top: 19px;
  text-align: center;

}
